<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.guet.quickarenabackend.mapper.QuestionMapper">

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO question (content, answer, difficulty, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.content}, #{item.answer}, #{item.difficulty}, #{item.createTime})
        </foreach>
    </insert>

</mapper>